<footer>

  <% if !defined?(contact_banner) %>
  <!--Contact banner-->
  <div class="banner">
    <a href="<%= url_for('/contact') %>">
      Got a fresh idea? Lets work together.
      <span class="icon chevron-small-right"></span>
    </a>
  </div>
  <% end %>

  <!--Menu-->
  <nav>
    <div class="container">
      <% data.site.pages.each do |page| %>
      <%= link_to(page, "/#{page.downcase}") %>
      <% end %>
    </div>
  </nav>

  <!--Newsletter form-->
  <div class="newsletter">

    <div class="container">

      <b>Subscribe and Receive the Latest in Business and Branding Advice</b>

      <form action="<%= data.site.api %>">

        <input type="hidden" name="action" value="subscribe">

        <!--Name field-->
        <div class="field name">
          <label>First Name</label>
          <input id="first_name" name="first_name" type="text" required>
        </div>

        <!--Name field-->
        <div class="field lastname">
          <label>Last Name</label>
          <input id="last_name" name="last_name" type="text" required>
        </div>

        <!--Email field-->
        <div class="field email">
          <label>Email Address</label>
          <input id="subscription_email" name="email" type="email" required>
        </div>

        <button>Sign Up</button>

      </form>

      <!--Social Links-->
      <%= partial 'social' %>

    </div>

  </div>

  <!--Legend-->
  <div class="legend">
    &copy;<%= Time.now.year %> Honor Roll L.L.C.
    <span class="logo"></span>
    All Rights Reserved.
  </div>

</footer>
