<div class="social">
  <a class="facebook<%= defined?(faecbook_alt) ? '_alt' : '' %> icon" href="<%= data.site.social.facebook %>" target="_blank"></a>
  <a class="twitter icon" href="<%= data.site.social.twitter %>" target="_blank"></a>
  <a class="instagram icon" href="https://www.instagram.com/workwithhonor/" target="_blank"></a>
  <a class="linkedin<%= defined?(linkedin_alt) ? '_alt' : '' %> icon" href="<%= data.site.social.linkedin %>" target="_blank"></a>
  <a class="dribbble icon" href="<%= data.site.social.dribbble %>" target="_blank"></a>
</div>
