<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || data.site.default_title %></title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag  'all' %>
  </head>

  <body class="<%= page_classes %>">

    <section id="<%= current_page.data.section %>">

    <header class="<%= current_page.data.header_class %>">
      <div class="container">
        <%= partial "navigation" %>
        <div class="content">
          <%= yield_content :header %>
        </div>
      </div>

      <!--Menu modal-->
      <div id="modal-menu" class="modal">
        <div class="container">
          <a href="<%= url_for('/') %>" id="logo"></a>
          <nav>
            <a class="menu close">
              Menu
              <span class="icon cross"></span>
            </a>
          </nav>
          <div class="links">
            <% data.site.pages.each do |page| %>
            <%= link_to(page, "/#{page.downcase}") %>
            <% end %>
          </div>
        </div>
      </div>

    </header>

    <%= yield %>

    <%= partial('footer', :locals => current_page.data) %>

    </section>

  </body>

</html>
