<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || data.site.default_title %></title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag  'all' %>
  </head>

  <body class="<%= page_classes %>">

    <section id="<%= current_page.data.section %>">

    <header>
      <div class="container">
        <%= partial "navigation" %>
        <%= yield_content :header %>
      </div>
    </header>

    <%= yield %>

    <%= partial "footer" %>

    </section>

  </body>

</html>
