<a class="card" href="<%= post_link(post) %>">

  <%= post_image(post) %>

  <div class="description">

    <span>
      <button>Read this Story</button>
    </span>

  </div>

</a>

<span class="category"><%= post.fragments['category'].value %></span>

<h5><a href="<%= post_link(post) %>"><%= post.fragments['smalltitle'].value %></a></h5>

<%= post.fragments['excerpt'].as_html(nil) %>

<span class="date">
  <a href="<%= author_link(post_author(post)) %>"><%= post_author(post).fragments['name'].value %></a>
  <% if(defined?(with_author)) %>
  <%= post_author(post).fragments['image'].as_html(nil) %>
  <% end %>
  <b>/</b>
  <%= pretty_date(post.fragments['date'].value) %>
</span>
