---
section: blog
---

<% content_for :header_logo do %>
  <span>Blog</span>
<% end %>

<% content_for :header do %>
  <b class="category">Inspiration</b>
  <h1>A New Founder Q&A with <br/>Breather Founder Jake Figerman.</h1>
  <h2>The founder of Breather shares his thoughts and ideas in our latest Q&A series.</h2>
  <div class="author">
    <%= image_tag 'assets/img_author.png' %>
    Louse Dreier / June 17, 2015
  </div>
<% end %>

<div class="section blog featured">

  <div class="container alt">

    <!--Categories-->
    <div class="categories">
      <div class="value">Recent Posts <span class="icon triangle-down"></span></div>
      <div class="values">
      <% data.site.blog_categories.each_with_index do |category, index| %>
        <a href="#" class="<%= index == 0 ? 'active' : ''%>">
          <%= category %>
        </a>
        <% end %>
      </div>
    </div>

    <h4>Featured Articles</h4>

    <!--Articles-->
    <div class="grid padded-10">

      <!--Entry-->
      <% featured_posts().each do |post| %>
      <div class="col-6">
        <%= partial('blog/post', :locals => { :post => post }) %>
      </div>
      <% end %>

    </div>

  </div>

</div>

<!--Blog-->
<div class="section blog">

  <div class="container alt">

    <h4>Latest Articles</h4>

    <!--Articles-->
    <div class="grid padded-10">

      <!--Entry-->
      <% data.posts.each do |id, post| %>
      <div class="col-4">
        <%= partial('blog/post', :locals => { :post => post }) %>
      </div>
      <% end %>

    </div>

  </div>

  <!--More articles banner-->
  <div class="banner">
    <a href="<%= url_for('/blog') %>">
      <span class="icon grid"></span>
      View More Articles
    </a>
  </div>

</div>
