---
section: post
---

<% content_for :header_logo do %>
  <span>Blog / <%= post.fragments['smalltitle'].nil? ? '' : post.fragments['smalltitle'].value %></span>
<% end %>

<% if post.fragments['background'] %>
  <% content_for :header do %>
    <%= post.fragments['background'].as_html(nil) %>
  <% end %>
<% end %>

<div class="section post">

  <!--Post info-->
  <div class="container info">

    <span class="category"><%= post.fragments['category'].value %></span>

    <%= post.fragments['title'].as_html(nil) %>
    <%= post.fragments['subtitle'].as_html(nil) %>

    <!--Author-->
    <div class="author">
      <a href="<%= author_link(author) %>">
        <%= author.fragments['image'].as_html(nil) %>
        <span><%= author.fragments['name'].value %></span>
      </a>
      /
      <%= pretty_date(post.fragments['date'].value) %>
    </div>

    <!--Info-->
    <div class="footer">

      <!--Sharebar-->
      <div class="sharebar">
        <b>Share</b>
        <a href="" class="icon mail"></a>
        <a href="" class="icon facebook"></a>
        <a href="" class="icon twitter"></a>
        <a href="" class="icon linkedin"></a>
      </div>

    </div>

  </div>

  <!--Post body-->
  <div class="container body">

    <!--Content-->
    <%= post.fragments['body'].as_html(nil) %>

    <!--Post footer-->
    <div class="footer slice">

      <!--Sharebar-->
      <div class="sharebar">
        <b>Share</b>
        <a href="" class="icon mail"></a>
        <a href="" class="icon facebook"></a>
        <a href="" class="icon twitter"></a>
        <a href="" class="icon linkedin"></a>
      </div>

      <!--Tags-->
      <div class="tags">
        <b>Tags:</b>
        <% post.tags.each do |tag| %>
          <a href=""><%= tag %></a>
        <% end %>
      </div>

      <!--Author-->
      <div class="author">
        <%= image_tag(author.fragments['image'].main.url) %>
        <h4><a href="<%= author_link(author) %>"><%= author.fragments['name'].value %></a></h4>
        <%= author.fragments['description'].as_html(nil) %>
        <p><a class="viewmore">See More Articles By <%= author.fragments['name'].value %></a></p>
      </div>

    </div>

  </div>

</div>

<!--Latest Posts-->
<div class="section blog featured">

  <div class="container alt">

    <h4>Recent Stories</h4>

    <!--Featured posts-->
    <div class="grid padded-30">

      <!--Entry-->
      <% latest_posts().each do |latest_post| %>
      <div class="col-6">
        <%= partial('blog/post', :locals => { :post => latest_post }) %>
      </div>
      <% end %>

    </div>
  </div>

  <!--Back banner-->
  <div class="banner">
    <a href="<%= url_for('/blog') %>">
      <span class="icon grid"></span>
      Back to Blog
    </a>
  </div>

</div>

<!--Comments-->
<div id="disqus_thread" class="container alt"></div>
