---
section: post
---

<% content_for :header_logo do %>
  <span>Blog / A How-To Guide To Servicing Sitescore</span>
<% end %>

<div class="section post">

  <!--Post info-->
  <div class="container info">
    <span class="category">Branding</span>
    <h1>A How-To Guide on Content Strategy for Twitter.</h1>
    <h2>The in’s and outs for providing the right strategy for your audience </h2>
    <div class="author">
      <%= image_tag 'assets/img_author.png' %>
      <span>Louse Dreier</span> / June 17, 2015
    </div>
    <div class="footer">
      <div class="sharebar">
        Share
        <a href="" class="icon mail"></a>
        <a href="" class="icon facebook"></a>
        <a href="" class="icon twitter"></a>
        <a href="" class="icon linkedin"></a>
      </div>
      <div class="comments"><span>52</span> Comments</div>
    </div>
  </div>

  <div class="container body">

    <p>The question of who should be one of the first ones you answer when coming up with your Twitter strategy. You’ve got to determine who is in charge of your Twitter account, and who you’re trying to reach.
    You may be a one-person social media shop, and so you’ll be tweeting on behalf of, well, yourself; or you might be part of a 12-person team representing a major brand. In either case, establish a clear ownership of your Twitter account, and identify other team members who might also participate in content creation, curation and engagement.
    If you’re clear about who will be managing the Twitter account off the bat, you won’t run into as many roadblocks when you go to launch a specific.</p>

    <%= image_tag 'assets/img_blog_post_0.png' %>

    <h3>How to customize the module for other CDN infrastructures.</h3>
    <p>HBO is known the world over for great storytelling. The network’s original programming has won acclaim and cult followings for shows ranging from Sex and the City and The Sopranos to Girls and Game of Thrones. Not to mention award winning original films like Game Change and Behind the Candelabra. HBO is also a company of firsts: the first cable channel to specialize in films; the first channel to be delivered via satellite.</p>
    <%= image_tag 'assets/img_blog_post_1.png' %>

    <p>HBO is known the world over for great storytelling. The network’s original programming has won acclaim and cult followings for shows ranging from Sex and the City and The Sopranos to Girls and Game of Thrones. Not to mention award winning original films like Game Change and Behind the Candelabra. HBO is also a company of firsts: the first cable channel to specialize in films; the first channel to be delivered via satellite.</p>
    <i>InVision’s a great solution for quickly testing assumptions with users and documenting flows for engineers.</i>
    <%= image_tag 'assets/img_blog_post_2.png' %>

    <p>From the beginning, HBO wanted its subscribers to be able to access GO wherever they were, from Smart TVs to video game consoles. But replicating the success of the iOS and Android apps was not as easy as cutting and pasting: every platform is unique, with its own set of features and constraints.
    The Samsung Smart TV interface, for example, has no back button, requiring the design of panels that users go deeper into the content, to the right of the screen, and then exit by going back left.</p>

    <p>Many platforms, like Roku, employ specific design templates that must be adhered to. To ensure a seamless HBO GO experience, we had to hack these templates. For Roku, we found a way to create dividers between categories in a long list - between letters in an alphabetical list, for example.</p>

    <cite>You are the most awesome of all the awesome sauces. I wanted to sleep on the designs and answer you tomorrow, but I have been looking at them all day, I have printed them out, my cat has laid on them, I have hung them up and I am sure about how I feel about them. I love the quirky astronaut kitty paired with the stars and the script font with the lower case “F”. That cat in the bubble helmet is the cutest.</cite>

    <p>Other platforms, like the Xbox 360, used UI styles that were so new at the time we had to invent our own guidelines to move forward. Microsoft’s new Metro style for the Xbox was still in development while we were designing for it.</p>

    <%= image_tag 'assets/img_blog_post_3.png' %>

    <h3>How to customize the module for other CDN infrastructures.</h3>

    <%= image_tag 'assets/img_blog_post_4.png', :class => 'right' %>

    <p>From the beginning, HBO wanted its subscribers to be able to access GO wherever they were, from Smart TVs to video game consoles. But replicating the success of the iOS and Android apps was not as easy as cutting and pasting: every platform is unique, with its own set of features and constraints.</p>

    <p>The Samsung Smart TV interface, for example, has no back button, requiring the design of panels that users go deeper into the content, to the right of the screen, and then exit by going back left between letters in an.</p>

    <p>Many platforms, like Roku, employ specific design templates that must be adhered to. To ensure a seamless HBO GO experience, we had to hack these templates. For Roku, we found a way to create dividers between categories in a long list - between letters in an alphabetical list, for example.</p>

    <p>Other platforms, like the Xbox 360, used UI styles that were so new at the time we had to invent our own guidelines to move forward. Microsoft’s new Metro style for the Xbox was still in development while we were designing for it.</p>

    <p><b>I would love to hear your thoughts on this piece! And if you enjoyed, please scroll down and click the “enjoyed this” button.</b></p>

    <div class="footer">
      <div class="sharebar">
        Share
        <a href="" class="icon mail"></a>
        <a href="" class="icon facebook"></a>
        <a href="" class="icon twitter"></a>
        <a href="" class="icon linkedin"></a>
      </div>
      <div class="tags">
        Tags:
        <a href="">Culture</a>
        <a href="">Design</a>
        <a href="">Events</a>
        <a href="">Innovation</a>
      </div>
      <div class="author">
        <%= image_tag 'assets/img_author.png' %>
        <h4><a>Louise Dreier</a></h4>
        <p>
          Louise Dreier is the co-author of the best-seller <a>Green to Gold</a> and the author of <a>Green Recovery.</a> His new book, <a>The Big Pivot</a>, was released in April. He advises some of the world’s biggest companies on environmental strategy. Follow him on Twitter at <a>@AndrewWinston.</a>
          <br/><a class="viewmore">See More Articles By Louise</a>
        </p>
      </div>
    </div>

  </div>

</div>

<div class="section blog featured">

  <div class="container alt">

    <h4>Recent Stories</h4>
    <div class="grid padded-30">

      <div class="col-6">
        <div class="card">
          <%= image_tag 'assets/thumb_big_1.png' %>
          <div class="description">
            <span>
              Read Article
              <span class="icon chevron-small-right"></span>
            </span>
          </div>
        </div>
        <span class="category">Branding</span>
        <h5>A Guide to Content Strategy for Twitter</h5>
        <p>The in and outs for providing the right strategy for your audience of different resources</p>
        <span class="date"><a>Louse Dreier</a> / June 17, 2015</span>
      </div>

      <div class="col-6">
        <div class="card">
          <%= image_tag 'assets/thumb_big_2.png' %>
          <div class="description">
            <span>
              Read Article
              <span class="icon chevron-small-right"></span>
            </span>
          </div>
        </div>
        <span class="category">Branding</span>
        <h5>Riding in Cars with New Technology</h5>
        <p>Exploring how dirivers interact with digital car interfaces.</p>
        <span class="date"><a>Louse Dreier</a> / June 17, 2015</span>
      </div>

    </div>
  </div>
  <div class="banner">
    <a href="<%= url_for('/blog') %>">
      <span class="icon grid"></span>
      Back to Blog
    </a>
  </div>
</div>
