---
section: blog
---

<% content_for :header_logo do %>
  <span>Blog</span>
<% end %>

<% content_for :header do %>
  <% latest_posts(1).each do |post| %>
    <b class="category"><%= post.fragments['category'].value %></b>
    <h1><a href="<%= post_link(post) %>"><%= post.fragments['smalltitle'].value %></a></h1>
    <h2><%= post.fragments['excerpt'].as_html(nil) %></h2>
    <div class="author">
      <a href="<%= author_link(post_author(post)) %>">
        <%= post_author(post).fragments['image'].as_html(nil) %>
        <%= post_author(post).fragments['name'].value %>
      </a>
      <b>/</b>
      <%= pretty_date(post.fragments['date'].value) %>
    </div>
  <% end %>
<% end %>

<div class="section blog featured">

  <div class="container alt">

    <!--Categories-->
    <div class="categories">
      <div class="value">Recent Posts <span class="icon triangle-down"></span></div>
      <div class="values">
      <% data.site.blog_categories.each_with_index do |category, index| %>
        <a href="#" class="<%= index == 0 ? 'active' : ''%>">
          <%= category %>
        </a>
        <% end %>
      </div>
    </div>

    <h4>Recent Articles</h4>

    <!--Articles-->
    <div class="grid padded-10">

      <!--Entry-->
      <% latest_posts(0).each do |post| %>
      <div class="col-6">
        <%= partial('blog/post', :locals => { :post => post, :with_author => true }) %>
      </div>
      <% end %>

    </div>

  </div>

  <!--More articles banner-->
  <div class="banner">
    <a href="<%= url_for('/blog') %>">
      <span class="icon grid"></span>
      View More Articles
    </a>
  </div>

</div>
