---
section: contact
contact_banner: false
---

<% content_for :header_logo do %>
  <span>Contact</span>
<% end %>

<% content_for :header do %>
  <h1>Ready to Work, Ready to Help</h1>

  <div class="grid padded">

    <div class="col-12 subheadline">
      <span>We partner with a community of designers, planners, developers and strategists and would love to add you to our network.</span>
    </div>

    <!--Social Links-->
    <div class="col-3 social">
      <b>Connect</b>
      <span>If you like us here you'll love us <br/>over on these nifty sites. Follow us.</span>
      <%= partial('social', :locals => { :linkedin_alt => true, :faecbook_alt => true }) %>
    </div>

    <!--Contact-->
    <div class="col-3 contact">
      <b>General Inquiries</b>
      <span>To say hi, employment opportunities, speaking engagements, or to work with us on a consulting basis.</span>
      <a href="mailto:<%= data.site.email %>?subject=General Inquiry"><%= data.site.email %></a>
    </div>

    <!--Phone-->
    <div class="col-3 phone">
      <b>Phone</b>
      <span>Talk to us the old fashion way. <br/>Give us a ring.</span>
      <a>(862) 216-6506</a>
    </div>

    <!--Office-->
    <div class="col-3 office">
      <b>Office</b>
      <span>Want to stop by, or send us a gift? Our office hours are 10am - 6pm M-F.</span>
      <a href="https://goo.gl/maps/DNWJX3rkoy72">175 Varick St.</a>
      <a href="https://goo.gl/maps/DNWJX3rkoy72">New York, NY 10014</a>
    </div>

  </div>
<% end %>

<!--Project Planner-->
<div class="planner">

  <!--Section banner-->
  <div class="banner">
    <div class="container">
      <h2>Project Planner</h2>
      <p>We’re now accepting awesome new clients. Filling out the information below will help us <br/> determine your needs. We look forward to hearing from you. Let's get started.</p>
    </div>
  </div>

  <!--Form-->
  <form method="POST" action="https://script.google.com/macros/s/AKfycbzhT0AB1EBfvlor_auRHEeEnIIgg3oP_2Fq1PXGbHpzFO7vwD-z/exec" data-button-message="Success! Your Project Has Been Submitted." target="form_submit">

    <input type="hidden" name="action" value="contact">

    <div class="container">

    <p class="asterisk-text">FIELDS WITH AN ASTERISK (*) ARE MANDATORY.</p>

      <!--Step 1-->
      <h4>Step 1 of 3: About You</h4>
      <span class="desc">Tell us about yourself and your company.</span>

      <div class="grid padded-10">

        <div class="field firstname required col-6">
          <label>First Name</label>
          <input id="firstname" name="firstname" type="text" required>
        </div>

        <!--Name field-->
        <div class="field lastname required col-6">
          <label>Last Name</label>
          <input id="lastname" name="lastname" type="text" required>
        </div>

        <!--Email field-->
        <div class="field email required col-6">
          <label>Email</label>
          <input id="email" name="email" type="email" required>
        </div>

        <!--Website-->
        <div class="field website col-6">
          <label>Website</label>
          <input name="website" type="text">
        </div>

        <!--Phone-->
        <div class="field phone required col-6">
          <label>Phone</label>
          <input name="phone" type="text" required>
        </div>

        <!--Company name-->
        <div class="field companyname col-6">
          <label>Company Name</label>
          <input name="company_name" type="text">
        </div>

      </div>

      <!--Contact-->
      <div class="field contact checkbox">
        <input type="checkbox" name="contact" id="contact_check">
        <label for="contact_check">I Am the Main Point of Contact for This Project.</label>
      </div>

      <!--Step 2-->
      <h4>Step 2 of 3: Project Description</h4>
      <span class="desc">Why have you come to us? What are you currently working on?</span>

      <!--Project type-->
      <div class="field type options required">
        <label>Select Project Type</label>
        <div class="grid">

          <!--Option 1-->
          <div class="col-6" data-name="type">
            <span class="option" data-value="rebuild">Rebuild of an Exsiting Project</span>
          </div>

          <!--Option 2-->
          <div class="col-6" data-name="type">
            <span class="option" data-value="new_project">Brand New Project</span>
          </div>

        </div>
        <input name="project_type" required>
      </div>

      <!--Project services-->
      <div class="field services options required">
        <label>Select Category Of Services</label>
        <div class="grid padded-5">

          <!--Option-->
          <div class="col-3">
            <div class="option" data-value="identity">
              <h3>Brand Identity</h3>
              <ul>
                <li>Brand Collateral</li>
                <li>Brand Creation</li>
                <li>Logo Development</li>
                <li>Identity System</li>
                <li>Naming & Taglines</li>
                <li>Brand Guidelines</li>
              </ul>
            </div>
          </div>


          <!--Option-->
          <div class="col-3">
            <div class="option" data-value="strategy">
              <h3>Brand Strategy</h3>
              <ul>
                <li>Mission & Visioning</li>
                <li>Brand Analysis</li>
                <li>Brand Messaging</li>
                <li>Brand Positioning</li>
                <li>Competitive Analysis</li>
                <li>Brand Conslutation</li>
              </ul>
            </div>
          </div>

          <!--Option-->
          <div class="col-3">
            <div class="option" data-value="print">
              <h3>Print & Packaging</h3>
              <ul>
                <li>Art Direction</li>
                <li>Product & Packaging Design</li>
                <li>Signage & Billboard Design</li>
                <li>Brochure & Menu Design</li>
                <li>Poster Design</li>
                <li>Brand Environment Design</li>
                <li>Stationery Design</li>
              </ul>
            </div>
          </div>

          <!--Option-->
          <div class="col-3">
            <div class="option marketing" data-value="marketing">
              <h3>Digital Marketing <br/> & Design</h3>
              <ul>
                <li>Information Architecture</li>
                <li>User Experience Design</li>
                <li>Website Design & Development</li>
                <li>E-commerce Design & Development</li>
                <li>Email Marketing & Development</li>
                <li>Social Media Strategy</li>
                <li>Content Strategy</li>
              </ul>
            </div>
          </div>
        </div>
        <input name="services" required>
      </div>

      <div class="field description required textarea">
        <label>Project Details, Goals and Objectives</label>
        <textarea name="description" required placeholder="DESCRIBE THE PROJECT AND WHAT YOU’RE LOOKING TO DO."></textarea>
      </div>

      <!--Step 3-->
      <h4>Step 3 of 3: Logistics</h4>
      <span class="desc">What are the technical details of your project?</span>

      <div class="grid padded-10">

        <!--Start date field-->
        <div class="field date start required col-6">
          <label>Project Start Date</label>
          <div class="select year">
            <select name="start_year" required>
              <option value="">Year</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
            </select>
            <span class="value">Year</span>
            <span class="icon chevron-small-down"></span>
          </div>
          <div class="select">
            <select name="start_month" required>
              <option value="">Month</option>
              <% (1..12).each do |m| %>
              <option><%= Date::MONTHNAMES[m] %></option>
              <% end %>
            </select>
            <span class="value">Month</span>
            <span class="icon chevron-small-down"></span>
          </div>
        </div>

        <!--End date field-->
        <div class="field date end col-6">
          <label>Project End Date</label>
          <div class="select year">
            <select name="end_year">
              <option value="">Year</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
            </select>
            <span class="value">Year</span>
            <span class="icon chevron-small-down"></span>
          </div>
          <div class="select">
            <select name="end_month">
              <option value="">Month</option>
              <% (1..12).each do |m| %>
              <option><%= Date::MONTHNAMES[m] %></option>
              <% end %>
            </select>
            <span class="value">Month</span>
            <span class="icon chevron-small-down"></span>
          </div>
        </div>

      </div>

      <!--Budget-->
      <div class="field options budget required">

        <div class="select year">
          <select id="budget-select" required>
            <option value="">Select a Budget</option>
            <option value="2500-5000">$2,500 - $5,000</option>
            <option value="5000-10000">$5,000 - $10,000</option>
            <option value="10000-15000">$10,000 -  $15,000</option>
            <option value="20000+">$20,000+</option>
          </select>
          <span class="value">Select a Budget</span>
          <span class="icon chevron-small-down"></span>
        </div>

        <label>Budget</label>

        <div class="grid padded-10">

          <!--Option 1-->
          <div class="col-3" data-name="budget">
            <span class="option" data-value="2500-5000">$2,500 - $5,000</span>
          </div>

          <!--Option 2-->
          <div class="col-3" data-name="budget">
            <span class="option" data-value="5000-10000">$5,000 - $10,000</span>
          </div>

          <!--Option 3-->
          <div class="col-3" data-name="budget">
            <span class="option" data-value="10000-15000">$10,000 - $15,000</span>
          </div>

          <!--Option 4-->
          <div class="col-3" data-name="budget">
            <span class="option" data-value="20000+">$20,000+</span>
          </div>

        </div>

        <input name="budget" type="hidden" required>

      </div>

      <!--Comments-->
      <div class="field comments">
        <label>Questions, Comments or Concerns (Optional)</label>
        <textarea name="comments"></textarea>
      </div>

      <!--Subscribe-->
      <div class="field subscribe checkbox">
        <input type="checkbox" name="subscribe" id="subscribe_check">
        <label for="subscribe_check">
          <span>Yes, I’d love to subscribe to roll call and receive exclusive tips on growing my brand and business.</span>
          <span class="collapsed">Yes, I’d love to receive tips on growing my brand and business.</span>
        </label>
      </div>

      <b class="success hidden">Success! Your Project Has Been Submitted.</b>

      <button type="submit" id="project-planner-button">
        Submit Your Project
        <span class="icon chevron-small-right"></span>
      </button>

    </div>

  </form>
  <iframe name="form_submit" class="hidden"></iframe>

</div>
