---
section: home
---

<% content_for :header do %>

  <!--Collapsed content-->
  <div class="collapsed">
    <h1>Building Better Brands</h1>
    <h2>Branding for forward-thinking companies and entrepreneurs</h2>
    <a class="button" href="<%= url_for('/work') %>">View Our Work</a>
  </div>

  <!--Work entries-->
  <div class="slider controlsalt is-smallbreadcrumbs" data-controls="border" data-breadcrumbs="true">

  <% latest_works(2).each_with_index do |post, index| %>

  <div class="slide entry" style="background-image: url(<%= resource_image_url(post, 'featured_image') %>);" data-slidr="<%= index %>">

    <div class="body">
      <%= post.fragments['title'].as_html(nil) %>
      <%= post.fragments['subtitle'].as_html(nil) %>
      <a class="button" href="<%= work_link(post) %>">View this Project</a>
    </div>

  </div>

  <% end %>

  </div>

<% end %>

<!--Introduction-->
<div class="section intro">

  <div class="container alt">

    <h4>We’re honor roll. <span>Happy to meet you</span></h4>
    <p>We create brand experiences for clients having difficulty establishing a brand identity that connects with their audience and stands out in a crowded digital market.</p>
    <a class="button" href="<%= url_for('/studio') %>">See How We Can Help You</a>

  </div>

</div>

<!--Showcase-->
<!-- <div class="section showcase">

  <div class="container">

    <h4>Problems We've Solved</h4>

    <div class="slider controlsalt" data-controls="border">

      <div class="slide" data-slidr="1">
        <i>Who should be our next million customers?</i>
        <b>Customer Appreciation Strategy</b>
        <%= image_tag 'assets/img_logo_2.png' %>
      </div>

      <div class="slide" data-slidr="2">
        <i>Who should be our next million customers?</i>
        <b>Customer Appreciation Strategy</b>
        <%= image_tag 'assets/img_logo_2.png' %>
      </div>

    </div>

    <a class="button" href="<%= url_for('/work') %>">See More Problems We've Solved</a>

  </div>

</div> -->

<!--Work entries-->
<div class="section work">

  <div class="container">

    <h4>Work We've Done</h4>

    <!--Work items-->
    <div class="grid">
      <%= partial('work/works', :locals => { :works => data.works, :portfolio => true }) %>
    </div>

  </div>

  <div class="banner">
    <a href="<%= url_for('/work') %>">
      View More Work
      <span class="icon chevron-small-right"></span>
    </a>
  </div>

</div>

<!--Blog-->
<div class="section blog">

  <div class="container alt">

    <h4>Stories From The Blog</h4>

    <!--Entries-->
    <div class="grid padded-15">

      <!--Entry-->
      <% latest_posts(3).each do |post| %>
        <div class="col-4">
        <%= partial('blog/post', :locals => { :post => post }) %>
        </div>
      <% end %>

    </div>

  </div>

  <!--Blog banner-->
  <div class="banner">
    <a href="<%= url_for('/blog') %>">
      View More Stories
      <span class="icon chevron-small-right"></span>
    </a>
  </div>

</div>