---
section: home
---

<% content_for :header do %>
  <h1>Building Better Brands</h1>
  <h2>Branding for forward-thinking companies and entrepreneurs</h2>
  <a class="button" href="<%= url_for('/work') %>">View Our Work</a>
<% end %>

<div class="section blue-tint">
  <div class="container alt">
    <h3>We Are Honor Roll</h3>
    <p>Honor Roll is a creative agency dedicated to helping <br/>forward-thinking clients jumpstart their brand’s presence <br/>and solve real business problems while addressing the <br/>needs of people, planet and profit.</p>
  </div>
  <a class="button" href="<%= url_for('/contact') %>">See How We Can Help You</a>
</div>

<div class="section showcase">
  <div class="container">
    <h4>Problems We've Solved</h4>
    <div class="slider">
      <div class="slide" data-slidr="1">
        <i>Who should our next million customers be?</i>
        <b>Customer Appreciation Strategy</b>
        <%= image_tag 'assets/img_logo_2.png' %>
      </div>
      <div class="slide" data-slidr="2">
        <i>Who should our next million customers be lorem ipsum dolor sit?</i>
        <b>Customer Appreciation Strategy</b>
        <%= image_tag 'assets/img_logo_2.png' %>
      </div>
    </div>
    <a class="button" href="<%= url_for('/contact') %>">See How We Can Help You</a>
  </div>
</div>

<div class="section work">
  <div class="container">
    <h4>Work We've Done</h4>

    <div class="grid">

      <% work_sorted().each do |post| %>
      <div class="entry col-<%= post.fragments['column'].value %>">
        <a class="card" href="<%= work_link(post) %>">
          <%= post.fragments['image'].as_html(nil) %>
          <div class="description">
            <span>
              <%= post.fragments['card_image'].as_html(nil) %>
              <%= post.fragments['card_text'].value %>
            </span>
          </div>
        </a>
      </div>
      <% end %>

    </div>
  </div>
  <div class="banner">
    <a href="<%= url_for('/work') %>">
      View More Work
      <span class="icon chevron-small-right"></span>
    </a>
  </div>
</div>

<!--Blog-->
<div class="section blog">
  
  <div class="container alt">

    <h4>Stories From The Blog</h4>

    <!--Entries-->
    <div class="grid padded-10">

      <!--Entry-->
      <% latest_posts(data.posts, 3).each do |post| %>
        <div class="col-4">
        <%= partial('blog/post', :locals => { :post => post }) %>
        </div>
      <% end %>

    </div>

  </div>

  <!--Blog banner-->
  <div class="banner">
    <a href="<%= url_for('/blog') %>">
      View More Stories
      <span class="icon chevron-small-right"></span>
    </a>
  </div>

</div>
