---
section: work-post
header_class: dark
---

<% content_for :header_logo do %>
  <span>Work / Doggyloot</span>
<% end %>

<% content_for :header do %>
  <%= image_tag 'header_work_post.png' %>
<% end %>

<!--Work post-->
<div class="section post work">

  <!--Post info-->
  <div class="container info">

    <!--Title-->
    <%= post.fragments['title'].as_html(nil) %>
    <%= post.fragments['subtitle'].as_html(nil) %>

    <!--Categories-->
    <div class="category">
      <% post.tags.each do |tag| %>
      <a href=""><%= tag %></a>
      <% end %>
    </div>

    <!--Client-->
    <div class="for">
      <span>for</span>
      <%= post.fragments['client'].value %>
    </div>

    <!--Sharebar-->
    <div class="footer">
      <div class="sharebar">
        Share
        <a href="" class="icon mail"></a>
        <a href="" class="icon facebook"></a>
        <a href="" class="icon twitter"></a>
        <a href="" class="icon linkedin"></a>
      </div>
    </div>

  </div>

  <!--Body-->
  <div class="container body">
    <%= post.fragments['body'].as_html(nil) %>
  </div>

</div>

<!--Recognition-->
<!-- <div class="section recognition">
  <div class="container">
    <h4>Recognition</h4>
    <p>HOW Magazine International Design Annual 2008 – Outstanding Achievement Award<br/>Print Business Graphics Annual 2008<br/>Print Regional Design Annual 2008</p>
  </div>
</div> -->


<!--Featured works-->
<div class="section work featured">

  <div class="container alt">

    <h4>View More Of Our Work</h4>

    <div class="grid padded-5">

      <!--Row 1-->
      <% latest_works().each do |latest_post| %>
      <div class="entry col-6">
        <a class="card" href="<%= work_link(latest_post) %>">
          <%= post_image(latest_post, 'thumbnail') %>
          <div class="description">
            <span>
              <%= post.fragments['card_image'].as_html(nil) %>
              <%= post.fragments['card_text'].value %>
            </span>
          </div>
        </a>
      </div>
      <% end %>

    </div>

  </div>

  <div class="banner small">
    <a href="<%= url_for('/work') %>">
      <span class="icon grid"></span>
      Back to All Work
    </a>
  </div>

</div>
