---
section: work
---

<% content_for :header do %>
  <h1>We Build Better Brands</h1>
  <h2>Take a look at some of our recent work</h2>
<% end %>

<% content_for :header_logo do %>
  <span>Work</span>
<% end %>

<div class="section work">

  <div class="container alt">

    <div class="categories">
      <div class="value">Recent Work <span class="icon triangle-down"></span></div>
      <div class="values">
      <% data.site.categories.each_with_index do |category, index| %>
        <a href="#" class="<%= index == 0 ? 'active' : ''%>">
          <%= category %>
        </a>
        <% end %>
      </div>
    </div>

    <div class="grid">

      <% work_sorted().each do |post| %>
      <div class="entry col-<%= post.fragments['column'].value %>">
        <a class="card" href="<%= work_link(post) %>">
          <%= post.fragments['image'].as_html(nil) %>
          <div class="description">
            <span>
              <%= post.fragments['card_image'].as_html(nil) %>
              <%= post.fragments['card_text'].value %>
            </span>
          </div>
        </a>
      </div>
      <% end %>

    </div>

  </div>

</div>
