---
section: writer
---

<% content_for :header do %>
  <%= image_tag 'header_writer.png' %>
<% end %>

<% content_for :header_logo do %>
  <span>Blog</span>
<% end %>

<div class="section author">
  <div class="container alt">
    <span class="avatar"><%= author.fragments['image'].as_html(nil) %></span>
    <h1><%= author.fragments['name'].value %></h1>
    <div class="portrait">
      <%= author.fragments['image'].as_html(nil) %>
    </div>
    <%= author.fragments['description'].as_html(nil) %>
  </div>
</div>

<div class="section blog featured">

  <div class="container alt">

    <h4><%= posts.length %> Articles</h4>

    <!--Articles-->
    <div class="grid padded-10">

      <!--Entry-->
      <% posts.each do |id, post| %>
        <div class="col-4">
          <%= partial('blog/post', :locals => { :post => post }) %>
        </div>
      <% end %>

    </div>

  </div>

  <!--Back banner-->
  <div class="banner">
    <a href="<%= url_for('/blog') %>">
      <span class="icon grid"></span>
      Back to Blog
    </a>
  </div>

</div>
